@mixin flex($display, $justify-content, $align-items, $flex-direction) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
}

@mixin height_width($height, $width) {
  height: $height;
  width: $width;
}

@mixin border($length, $type, $color, $box-sizing) {
  border: $length $type $color;
  box-sizing: $box-sizing;
}

#container {
  @include height_width(100%, 100%);
  @include flex(flex, center, center, none);

  #sub_Container2 {
    @include height_width(90%, 50%);
    @include border(0.1px, solid, lightgray, border-box);
    border-radius: 5px;
    margin: 100px auto;
    padding: 25px 50px 50px 50px;
    font-family: "Montserrat", sans-serif;
    background-color: #fff;

    #Header {
      font-family: "Montserrat", sans-serif;
      color: black;
      height: 25%;
      #main-Header {
        font-size: 30px;
        font-weight: 600;
        height: 40%;
      }

      #sub-Header {
        font-size: 20px;
        font-weight: 550;
        height: 60%;
        @include flex(flex, center, center, none);
        color: lightgray;
      }
    }

    .forms {
      height: 75%;
      .form-group {
        display: flex;
        height: 20%;
        margin: 5px;
        .label {
          display: flex;
          // align-items: center;
          padding: 10px 0 0 0;
          width: 30%;
        }

        .sub-Part {
          width: 70%;
          height: 100%;
          .form-control {
            width: 100%;
            height: 60%;
            margin: 0;
            display: flex;
          }
          .error {
            width: 100%;
            height: 30%;
            // border: 0.5px solid lightgray;
            color: white;
            font-size: 12px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
          }
        }
      }
      .button {
        height: 20%;
        @include flex(flex, flex-end, center, none);
        margin: 0 12px 0 30%;
        display: flex;
        justify-content: space-between;
        // padding: 10px;
      }
    }
  }
}

#myModal {
  @include height_width(100%, 100%);
  overflow-y: hidden;
  // font-family: "Montserrat", sans-serif;
  // margin: 50px auto;
  #modal-Dialog {
    @include height_width(80%, 100%);
    margin: 50px auto;
    #modal-Content {
      @include height_width(100%, 100%);
    }
  }
}

// .MuiFormGroup-root {
//   display: flex;
//   flex-wrap: wrap;
//   flex-direction: row;
// }

#container {
  background: linear-gradient(270deg, #f83bcf, #575afc, #ff9a35, #ff3a3a);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
